.logo-main {
    height: 80px;
    padding: 15px 0;
    margin: 0;
}

.headline {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-bar {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 0;
}

.h-line-title {
    width: 100%;
    height: 1px;
    background-color: var(--col-light-text);
}

.title p {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.6px;
    line-height: 22px;
    margin: 5px 0 0 0;
    color: var(--col-complementary);
}

.bg-logo {
    display: flex;
    position: relative;
    height: 450px;
    border-bottom: 2px solid var(--col-border);
}

.main-bg {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-logo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0,0,0,0));
    z-index: 1;
}

.logo-center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.img-logo-center {
    border-radius: 50% 50% 20% 20%;
    background-color: var(--col-light-text);
    border: 14px solid var(--col-main);
    padding: 10px;
    max-height: 200px;
    max-width: 200px;
    width: 30vw;
}

/* SHOP SECTION */

.intro-text {
    display: flex;
    flex-direction: column;
    background-color: var(--col-light-text);
    margin: 60px 0 0 0;
    padding: 0 15px;
    width: 100%;
    border-radius: 10px;
}
.shop-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}
.shop-infos {
    display: flex;
    gap: 1rem;
    margin: 0 0 15px 0;
}

.food-categories {
    display: flex;
}

.food-categories li a{
    background-color: transparent;
    padding: 3px 10px;
    border-radius: 30px;
    color: black;
}

.food-categories li a:hover {
    background-color: var(--col-complementary);
}
.search-food {
    border-radius: 10px;
    border: 1px solid var(--col-border);
    resize: none;
}

@media screen and (max-width: 800px) {
    .bg-logo {
        height: 300px;
    }
    .logo-center {
        top: 62%;
    }
    .img-logo-center {
        border: 8px solid var(--col-main);
        padding: 5px;
        max-height: 120px;
        max-width: 120px;
    }  
}

@media screen and (max-width: 600px) {
    .bg-logo {
        height: 230px;
    }
    .logo-center {
        top: 46%;
    }
}