.logo-main {
    width: 100%;
    height: 40px;
    padding: 0;
    margin-bottom: -6px;
}

.headline {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-bar {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
    height: var(--header-height);
    justify-content: center;
}

.h-line-title {
    width: calc(100% - 52px);
    height: 2px;
    margin-left: 52px;
    background-color: rgba(91, 76, 74, 0.233);
}

.title p {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 11px;
    margin: 6px 0 0 0;
    color: var(--col-secondary);
}

.bg-logo {
    display: flex;
    position: relative;
    height: 450px;
    /* border-bottom: 2px solid var(--col-border); */
}

.main-bg {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    background-color: white;
}

.bg-logo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 1;
}

.logo-center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.img-logo-center {
    display: flex;
    position: relative;
    border-radius: 50% 50% 20% 20%;
    background-color: var(--col-light-text);
    border: 1px solid var(--col-border);
    padding: 10px;
    max-height: 200px;
    max-width: 200px;
    width: 30vw;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}

/* SHOP SECTION */
main .container {
    gap: 1rem;
}

main {
    width: calc(100% - var(--basket-width));
}

.intro-text {
    display: flex;
    flex-direction: column;
    background-color: var(--col-light-text);
    border: 1px solid var(--col-border);
    margin: 60px 0 0 0;
    padding: 0 15px;
    width: 100%;
    border-radius: 10px;
}

.shop-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}

.shop-infos {
    display: flex;
    gap: 1rem;
    margin: 0 0 15px 0;
}

.shop-infos li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.shop-infos li span {
    font-family: 'Roboto Slab';
}

.opening-hours {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
    font-size: 14px;
    gap: 5px;
    height: 20px;
}

.opening-hours p {
    padding: 0;
    margin: 0;
}

.food-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.food-categories li a {
    background-color: white;
    padding: 5px 14px;
    border-radius: 30px;
    color: var(--col-main);
    letter-spacing: 0.5pt;
    border: 1px solid var(--col-border);
}

.food-categories li a:hover {
    background-color: var(--col-complementary);
}

.search-food {
    display: flex;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--col-border);
    resize: none;
    height: 30px;
    padding: 15px 0 0 40px;
    background-image: url('./assets/img/03_products/magnifying-glass.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 5px;
    font-family: 'Raleway';
}

/* BASKET */
.basket-section {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid var(--col-border);
    margin: var(--header-height) 0;
    width: var(--basket-width);
    z-index: 1;
    height: calc(100% - var(--header-height));
}

.basket-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.basket-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.basket-item {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--col-border);
}

.basket-total {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: red;
    padding-bottom: var(--header-height);
}

.basket-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.item-price,
.item-notes-quantity {
    display: flex;
    justify-content: space-between;
}

.item-notes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}


/* to be deleted after styling --> */
.test-masse {
    display: flex;
    width: 100%;
    height: 300vh;
}
/* <-- to be deleted after styling */

@media screen and (max-width: 800px) {
    .bg-logo {
        height: 300px;
    }

    .logo-center {
        top: 62%;
    }

    .img-logo-center {
        border: 8px solid var(--col-main);
        padding: 5px;
        max-height: 120px;
        max-width: 120px;
    }
}

@media screen and (max-width: 600px) {
    .bg-logo {
        height: 230px;
    }

    .logo-center {
        top: 46%;
    }
}