:root {
    --color-bg: rgba(24, 20, 20, 1);          
    --color-main: rgba(48, 39, 38, 1);        
    --color-secondary: rgba(91, 76, 74, 1);   
    --color-highlight: rgba(214, 93, 96, 1); 
    --color-accent: rgba(136, 90, 68, 1);    
    --color-complementary: rgba(255, 140, 0, 1); 
    --color-light-text: rgba(240, 229, 216, 1); 
    --color-border: rgba(64, 53, 52, 1);
    --color-overlay: rgba(34, 30, 29, 0.8);
}