/* CONTAINER / MAX WIDTH */
.container {
    display: flex;
    align-items: space-between;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 0 30px;
}

.container-nomax {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    padding: 0 30px;
}

/* DELVIER BUTTON */
.deliver-btn-container {
    display: none;
    background-color: var(--col-border);
    width: 280px;
    height: 40px;
    padding: 3px;
    gap: 2px;
    border-radius: 100px;
}

.deliver-btn {
    display: flex;
    color: grey;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    flex: 1;
    gap: 6px;
    transition: var(--general-transition);
}

.deliver-btn:hover {
    cursor: pointer;
    color: black;
}

.deliver-btn:first-child {
    color: black;
    background-color: white;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

.deliver-btn-right {
    text-align: center;
    font-size: 14px;
}

.deliver-btn-right p {
    font-size: 12px;
}

/* BASKET ITEM COUNT BUTTON */
.count-btn {
    display: flex;
    justify-content: space-between;
    background-color: var(--col-light-text);
    width: 90px;
    height: 32px;
    border-radius: 100px;
}

.less-btn,
.more-btn {
    margin: 0;
    padding: 0;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    text-align: center;
    transition: var(--general-transition);
}

.add-note {
    display: flex;
    align-items: center;
    height: 32px;
}

/* GENERAL BUTTON */

button {
    padding: 0;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-family: 'Raleway';
}

button:hover {
    text-decoration: underline;
}

.close-basket-btn {
    display: none;
    position: absolute;
    right: 0;
    top:10px;
    width: 30px;
    height: 30px;
    background-color: var(--col-light-text);
    border: 1px solid var(--col-border);
    border-radius: 100%;
    user-select: none;
    transition: var(--general-transition);
}

.close-basket-btn:hover {
    text-decoration: none;
    background-color: var(--col-complementary);
}

.to-basket-btn {
    position: relative;
    height: 50px;
    width: 70%;
    max-width: 340px;
    background-color: var(--col-complementary);
    border-radius: 100px;
    font-family: 'Roboto Slab';
    font-size: 24px;
    color: white;
}

.to-basket-btn:hover {
    text-decoration: none;
    transform: scale(1.01);
    filter: drop-shadow(3px 6px 7px rgba(0, 0, 0, 0.3));
}

#popupBasket {
    justify-content: center;
    position: fixed;
    opacity: 0;
    top: 60px;
    left: 0;
    z-index: 100;
    width: calc(100% - var(--basket-width));
    height: 40px;
    transition: var(--general-transition);
}

#popupBasket button {
    font-size: 18px;
    transition: all 0.3s ease;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.7);
}

/* GENERAL HOVER BUTTON */
.less-btn:hover,
.more-btn:hover {
    cursor: pointer;
    background-color: var(--col-border);
}

.info-btn:hover {
    cursor: context-menu;
}

#popupBasket button:hover {
    text-decoration: none;
    user-select: none;
    cursor: auto;
}

/* DROP SHADOW */
.shadow {
    transition: var(--general-transition);
}
.shadow:hover {
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.4));
}

