:root {
    --col-bg: rgba(24, 20, 20, 1);          
    --col-main: rgba(48, 39, 38, 1);       
    --col-secondary: rgba(91, 76, 74, 1);   
    --col-highlight: rgba(214, 93, 96, 1); 
    --col-accent: rgba(136, 90, 68, 1);     
    --col-complementary: rgba(255, 140, 0, 1); 
    --col-light-text: rgba(240, 229, 216, 1); 
    --col-border: rgba(64, 53, 52, 1);     
    --col-overlay: rgba(34, 30, 29, 0.8);  
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-style: normal;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: var(--col-main);
}

header {
    background-color: var(--col-bg);
    border-bottom: 2px solid var(--col-border);
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 1));
    z-index: 99;
}

footer {
    background-color: var(--col-bg);
    border-top: 2px solid var(--col-border);
}

a {
    text-decoration: none;
    color: var(--col-highlight);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Alkatra';
    font-style: normal;
    height: 55px;
    width: 100%;
    letter-spacing: 6px;
    font-size: 40px;
    margin: 0;
    color: var(--col-light-text);
}

h2 {
    font-family: 'Alkatra';
    font-size: 34px;
    padding: 0;
    margin: 0;
    line-height: 34px;
}

h3 {

}

p {
    line-height: 1.5;
}

.show-mobile {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}