:root {
    --col-bg: rgba(24, 20, 20, 1);          
    --col-main: rgba(48, 39, 38, 1);       
    --col-secondary: rgba(91, 76, 74, 1);   
    --col-highlight: rgba(214, 93, 96, 1); 
    --col-accent: rgba(136, 90, 68, 1);     
    --col-complementary: rgba(255, 140, 0, 1); 
    --col-light-text: rgb(248, 237, 232);
    --col-light-text-hover: rgba(213, 213, 213, 1);    
    --col-border: rgba(213, 213, 213, 1);    
    --col-overlay: rgba(34, 30, 29, 0.8);
    
    --header-height: 80px;
    --basket-width: 344px;

    --general-transition: all 0.3s ease;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-style: normal;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 18px;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: white;
    border-right: 1px solid var(--col-border);
}

.show-mobile {
    display: none;
}



/* HEADER */
header {
    height: var(--header-height);
    width: 100%;
    background-color: white;
    filter: drop-shadow(0px 5px 4px rgba(74, 73, 73, 0.3));
    z-index: 99;
}

/* FOOTER */
footer {
    background-color: white;
    border-top: 1px solid var(--col-border);
    z-index: 0;
    color: var(--col-secondary);
    font-size: 12px;
}

.social-media-icons {
    display: flex;
    gap: 10px;
    margin: 15px 0 0 0;
}

footer .container {
    flex-direction: column;
    align-items: center;
}

.copyright {
    margin: 5px 0 15px 0;
}

.footer-icon {
    position: relative;
    width: 30px;
    aspect-ratio: 1/1;
    border: 1px solid var(--col-border);
    padding: 5px;
    border-radius: 50%;
    object-fit: contain;
    transition: var(--general-transition);
}

.footer-icon:hover {
    background-color: var(--col-light-text);
}

/* TEXT ELEMENTS */
a {
    text-decoration: none;
    color: var(--col-highlight);
    margin: 0;
    padding: 0;
    transition: var(--general-transition);
}

h1 {
    font-family: 'Roboto Slab';
    height: 55px;
    width: 100%;
    letter-spacing: 6px;
    font-size: 40px;
    margin: 0 0 0 20px;
}

h2 {
    font-family: 'Roboto Slab';
    font-size: 24px;
    padding: 0;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
    color: var(--col-main);
}

h3 {
    font-family: 'Roboto Slab';
    font-size: 20px;
    padding: 0;
    margin: 0 0 5px 0;
}

h4 {
    font-family: 'Roboto Slab';
    font-size: 14px;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.general-icons {
    height: 20px;
}

.ham-line {
    width: 35px;
    height: 5px;
    background-color: var(--col-complementary);
    margin: 6px 0;
    border-radius: 5px;
}

.ham-menu-btn {
    cursor: pointer;
    transition: var(--general-transition);
}

.ham-menu-btn:hover {
    transform: scale(1.04);
}
